/* ---------------------------------------------------- */

/*
1.  Reset CSS
2.  Global CSS
3.  Header CSS
4.  Navigation CSS
5.  Services
6.  About CSS
7.  Vision CSS
8.  FastFood CSS
9.  Latestnews CSS
10. Customer CSS
11. Contact CSS
12. Footer CSS
13. Tooltip CSS
*/

/*----------------------------1. Reset----------------------------*/

/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: 700;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/*----------------------------2. Global----------------------------*/

@font-face {
    font-family: "academy";
    src: url(/assets/fonts/WebYekan.woff) format("woff");
}

body {
    direction: rtl;
    font-family: "academy", "Myriad Pro", Tahoma;
    color: #555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}
:focus {
    outline: 0;
}

p {
    line-height: 2;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

hr {
    border: 0;
    border-bottom: 1px solid #ddd;
    display: block;
    margin: 25px auto;
    width: 100px;
}

:root {
    --color-main: #e74c3c;
}

* {
    font-family: "academy";
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    direction: rtl;
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    background: url(/assets/images/cover/cover6.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.cover {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas:
        "masthead masthead masthead masthead masthead masthead masthead masthead"
        ". . . . . . . ."
        ". . . . table table table table"
        ". . . . . . . ."
        ". . . . form form form ."
        ". . . . . . . .";
}
.masthead {
    grid-area: masthead;
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    grid-template-areas: ". nav . . logo .";
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    background-color: #fff;
}
.landing-nav {
    grid-area: nav;
}
.landing-nav ul li {
    float: right;
}

.landing-nav ul li a {
    color: #666;
    display: block;
    font-size: 15px;
    padding: 0 15px;
    line-height: 60px;
}

.landing-nav ul li a:hover {
    background: #e74c3c;
    color: #fff;
}
.logo {
    grid-area: logo;
}
.logo .img {
    bottom: 0;
    height: 100%;
}
.sticky {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.ptable {
    grid-area: table;
    margin-left: 20px;
}

.ptable h3 {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    font-size: 25px;
    text-align: center;
}

.pform .head {
    grid-area: head;
}

.head h3 {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    font-size:25px;
    text-align: center;
}

.pform {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-rows: minmax(30px, auto);
    grid-template-areas:
        ". head ."
        ". pf .";
}

.pform form {
    grid-area: pf;
    text-align: center;
}

.item{
    display: grid;
    
    margin-bottom: 3px;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas:
    "label input input input";
}

.item label {
    text-align: right;
    grid-area: label;
}

.item input {
    text-align: left;
    grid-area: input;
    text-align: center;
}

.btns{
    width:100%;
    border: none;
    color: #fff;
    padding: 8px 0; 
    background-color: #25a65b;
    margin-top: 10px;
    border-radius: 3px;
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    color: #fff;
}
.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}
.modal-close i {
    font-size: 25px;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    background-color: #e74c3c;
    width: 50%;
    display: grid;
}
.modal h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
.modal form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
    grid-gap: 10px;
    grid-row: 2/3;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.modal form input {
    border-radius: 5px;
    border: 3px solid #25a65b;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    text-align: center;
}
.modal form label {
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}
.modal form .btn input {
    padding: 7px;
    background: #25a65b;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
}

.modal form .btn input:hover {
    background: rgba(0, 0, 0, 0.1);
    transition: all 0.7s ease-out;
}



#items-table {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
    width: 100%;
}

#items-table td,
#items-table th {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
}

#items-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#items-table tr:hover {
    background-color: #ddd;
}

#items-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #04aa6d;
    color: white;
}

td a {
    color: #e74c3c;
    cursor: pointer;
}
